.footer-container {
    background-color: #5ba9d0; /* Dark blue background */
    color: #fff; /* White text color */
  
    text-align: center;
  }
  
  .footer-copyright {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  .footer-divider {
    background-color: #fff; /* White color for the divider */
    width: 50%;
    margin: 10px auto;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spacing between links */
  }
  
  .footer-link {
    color: #fff; /* White text for links */
    font-size: 0.9rem;
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .footer-link:hover {
    color: #ffcc80; /* Light orange on hover */
  }
  